<<<<<<< HEAD
// X Center Y Center
@mixin center {
 display: flex;
 justify-content: center;
 align-items: center;
=======
// Font Family

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
}

// X Center Y Center
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
>>>>>>> 056f998c31aa95346d9589b1a6e4d6ac75a3fb34
}

// X Center Y Start
@mixin center-left {
<<<<<<< HEAD
 display: flex;
 justify-content: flex-start;
 align-items: center;
=======
    display: flex;
    justify-content: flex-start;
    align-items: center;
>>>>>>> 056f998c31aa95346d9589b1a6e4d6ac75a3fb34
}

// X Center Y Start
@mixin center-right {
<<<<<<< HEAD
 display: flex;
 justify-content: flex-end;
 align-items: center;
=======
    display: flex;
    justify-content: flex-end;
    align-items: center;
>>>>>>> 056f998c31aa95346d9589b1a6e4d6ac75a3fb34
}

// X Top Y Left
@mixin top-left {
<<<<<<< HEAD
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
=======
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
>>>>>>> 056f998c31aa95346d9589b1a6e4d6ac75a3fb34
}

// X Top Y Right
@mixin top-left {
<<<<<<< HEAD
 display: flex;
 justify-content: flex-end;
 align-items: flex-start;
=======
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
>>>>>>> 056f998c31aa95346d9589b1a6e4d6ac75a3fb34
}

// X Bottom Y Left
@mixin bottom-left {
<<<<<<< HEAD
 display: flex;
 justify-content: flex-start;
 align-items: flex-end;
=======
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
>>>>>>> 056f998c31aa95346d9589b1a6e4d6ac75a3fb34
}

// X Bottom Y Right
@mixin bottom-left {
<<<<<<< HEAD
 display: flex;
 justify-content: flex-end;
 align-items: flex-end;
}
=======
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
>>>>>>> 056f998c31aa95346d9589b1a6e4d6ac75a3fb34
