@import "../font/stylesheet.css";
@import "reset";
@import "normalize";
@import "mediaQuery";
@import "header";
@import "main";
@import "footer";
@import "journey-modal";

#root {
 border: 1px solid #f8f8f8;
 margin: 50px auto;
 width: 320px;
 display: flex;
 flex-direction: column;
 position: relative;
 @include sm {
  margin: 0;
  width: 100%;
 }
}
