@import url(../font/stylesheet.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) #333333;
  transition: 0.25s ease-in-out;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif !important; }

*::-webkit-scrollbar {
  width: 8px; }

*::-webkit-scrollbar-track {
  background: #333333; }

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #333333; }

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  width: 100%; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  border: none;
  outline: none;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

header {
  padding: 10px;
  background-color: #2f4eb4;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  header h1 {
    margin: 0;
    color: #fff;
    font-size: 15px;
    line-height: 1.1; }

main {
  background-color: #f8f8f8;
  padding: 27px 16px;
  width: 100%; }
  main form {
    width: 100%; }
    main form .location-input-group {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      main form .location-input-group .double-arrows {
        background-color: #fff;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #5d686e;
        padding: 4px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        display: block;
        height: 20px;
        width: 20px;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center; }
      main form .location-input-group .origin-input-group {
        margin-bottom: 3px;
        padding: 11px 0;
        background-color: #fff;
        height: 64px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; }
        main form .location-input-group .origin-input-group.error {
          border: 1px solid red; }
        main form .location-input-group .origin-input-group .origin-title {
          width: 100%;
          flex: 1 1;
          font-size: 14px;
          color: #2f4eb4;
          padding: 0 31px; }
        main form .location-input-group .origin-input-group .origin {
          padding: 0 31px;
          width: 100%;
          flex: 1 1;
          position: relative; }
          main form .location-input-group .origin-input-group .origin .origin-input {
            background-color: #fff;
            color: #5d686e;
            font-size: 15px;
            width: 100%;
            height: 100%; }
          main form .location-input-group .origin-input-group .origin .location-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%); }
            main form .location-input-group .origin-input-group .origin .location-icon img {
              height: 20px; }
          main form .location-input-group .origin-input-group .origin .origin-locations {
            -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.26);
            -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.26);
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.26);
            display: none;
            padding: 0 31px;
            position: absolute;
            background-color: #fff;
            left: 0;
            top: calc(100% + 14px);
            width: 100%;
            z-index: 99; }
            main form .location-input-group .origin-input-group .origin .origin-locations.opened {
              display: block; }
            main form .location-input-group .origin-input-group .origin .origin-locations .location {
              cursor: pointer;
              color: #000;
              padding: 10px 0px;
              font-size: 15px; }
      main form .location-input-group .destination-input-group {
        padding: 11px 0;
        background-color: #fff;
        height: 64px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; }
        main form .location-input-group .destination-input-group.error {
          border: 1px solid red; }
        main form .location-input-group .destination-input-group .destination-title {
          width: 100%;
          flex: 1 1;
          font-size: 14px;
          color: #2f4eb4;
          padding: 0 31px; }
        main form .location-input-group .destination-input-group .destination {
          padding: 0 31px;
          width: 100%;
          flex: 1 1;
          position: relative; }
          main form .location-input-group .destination-input-group .destination .destination-input {
            width: 100%;
            height: 100%;
            color: #5d686e;
            font-size: 15px;
            background-color: #fff; }
          main form .location-input-group .destination-input-group .destination .location-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%); }
            main form .location-input-group .destination-input-group .destination .location-icon img {
              height: 20px; }
          main form .location-input-group .destination-input-group .destination .destination-locations {
            -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.26);
            -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.26);
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.26);
            display: none;
            padding: 0 31px;
            position: absolute;
            background-color: #fff;
            left: 0;
            top: calc(100% + 14px);
            width: 100%;
            z-index: 99; }
            main form .location-input-group .destination-input-group .destination .destination-locations.opened {
              display: block; }
            main form .location-input-group .destination-input-group .destination .destination-locations .location {
              cursor: pointer;
              color: #000;
              padding: 10px 0px;
              font-size: 15px; }
    main form .alert {
      display: none;
      font-size: 10px;
      padding: 5px 0;
      color: red; }
    main form .date-input-group {
      height: 72px;
      margin-top: 20px;
      padding: 11px 0;
      background-color: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative; }
      main form .date-input-group .date-buttons {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        main form .date-input-group .date-buttons button {
          cursor: pointer;
          padding-top: 2px;
          height: 24px;
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 56px;
          border-radius: 2px; }
          main form .date-input-group .date-buttons button:active {
            position: relative;
            top: 1px; }
          main form .date-input-group .date-buttons button:first-child {
            background-color: #5d686e;
            margin-bottom: 8px;
            color: #fff; }
          main form .date-input-group .date-buttons button:last-child {
            color: #5d686e;
            border: 1px solid #5d686e; }
      main form .date-input-group .date-title {
        width: 100%;
        flex: 1 1;
        font-size: 14px;
        color: #2f4eb4;
        padding: 0 31px; }
      main form .date-input-group .date {
        padding: 0 31px;
        width: 100%;
        flex: 1 1;
        position: relative;
        border: none;
        box-sizing: border-box;
        outline: 0;
        width: 100%; }
        main form .date-input-group .date .date-input {
          background-color: #fff;
          color: #5d686e;
          font-size: 15px;
          width: 100%;
          height: 100%; }
          main form .date-input-group .date .date-input::-webkit-inner-spin-button, main form .date-input-group .date .date-input::-webkit-calendar-picker-indicator {
            background: transparent;
            bottom: 0;
            color: transparent;
            cursor: pointer;
            height: auto;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: auto; }
        main form .date-input-group .date .date-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 7px;
          top: 50%;
          transform: translateY(-50%); }
          main form .date-input-group .date .date-icon img {
            height: 15px; }
        main form .date-input-group .date .date-locations {
          -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.26);
          -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.26);
          display: none;
          padding: 0 31px;
          position: absolute;
          background-color: #fff;
          left: 0;
          top: calc(100% + 14px);
          width: 100%;
          z-index: 99; }
          main form .date-input-group .date .date-locations.opened {
            display: block; }
          main form .date-input-group .date .date-locations .date {
            cursor: pointer;
            color: #000;
            padding: 10px 0px;
            font-size: 15px; }
    main form .find-ticket {
      width: 100%;
      margin-top: 21px;
      display: flex;
      justify-content: center;
      align-items: center; }
      main form .find-ticket button {
        min-width: 207px;
        border-radius: 4px;
        padding: 11px 70px;
        font-size: 17px;
        background-color: #2f4eb4;
        color: #fff; }
        main form .find-ticket button:active {
          position: relative;
          top: 1px; }
        main form .find-ticket button svg {
          animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
footer {
  padding: 13px 20px 31px 29px; }
  footer p {
    color: #5d686e;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.journey-modal {
  display: none;
  z-index: 999;
  background-color: #fff;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%; }
  .journey-modal .modal-title {
    position: relative;
    background-color: #2f4eb4;
    width: 100%;
    height: 72px;
    color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .journey-modal .modal-title .modal-back-button {
      position: absolute;
      left: 10px;
      top: 20px;
      cursor: pointer; }
      .journey-modal .modal-title .modal-back-button img {
        transform: rotate(180deg); }
    .journey-modal .modal-title .modal-locations {
      font-size: 14px; }
    .journey-modal .modal-title .modal-date {
      margin-top: 5px;
      font-size: 12px; }
  .journey-modal .modal-body {
    background-color: #f3f3f3;
    height: 100%;
    width: 100%; }
    .journey-modal .modal-body ul {
      height: 100%;
      width: 100%;
      overflow-y: auto; }
      .journey-modal .modal-body ul li {
        padding: 8px; }
        .journey-modal .modal-body ul li .journey {
          padding: 6px 7px;
          background: #ededed;
          background: linear-gradient(90deg, #ededed 0%, whitesmoke 15%, white 30%, white 40%, white 50%, white 60%, #fefefe 70%, #f7f7f7 85%, #ededed 100%);
          width: 100%;
          height: 72px;
          border: 1px solid #b4b4b4;
          border-radius: 3px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          position: relative; }
          .journey-modal .modal-body ul li .journey .journey-dates {
            color: #3640b1;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center; }
            .journey-modal .modal-body ul li .journey .journey-dates .modal-date {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center; }
              .journey-modal .modal-body ul li .journey .journey-dates .modal-date span {
                text-transform: uppercase;
                font-size: 9px; }
              .journey-modal .modal-body ul li .journey .journey-dates .modal-date .time {
                margin-top: 2px;
                font-size: 15px; }
            .journey-modal .modal-body ul li .journey .journey-dates .icon {
              margin: 0 6px;
              width: 8px;
              height: 8px; }
              .journey-modal .modal-body ul li .journey .journey-dates .icon img {
                width: 100%;
                height: 100%; }
          .journey-modal .modal-body ul li .journey .journey-information {
            padding-top: 7px;
            flex: 1 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 2px;
            font-size: 12px;
            color: #083145; }
          .journey-modal .modal-body ul li .journey .price {
            position: absolute;
            right: 8px;
            top: 10px;
            border-radius: 5px;
            background-color: #d23b38;
            color: #fff;
            font-size: 14px;
            padding: 6px 8px; }

#root {
  border: 1px solid #f8f8f8;
  margin: 50px auto;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative; }
  @media (max-width: 575px) {
    #root {
      margin: 0;
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
