<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
=======
>>>>>>> 056f998c31aa95346d9589b1a6e4d6ac75a3fb34
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

<<<<<<< HEAD
* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Comfortaa", cursive !important;
  font-weight: 500; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ""; }

body {
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  width: 320px;
  display: flex;
  flex-direction: column; }
  .container header {
    color: #fff;
    width: 100%;
    height: 40px;
    background-color: #2f4eb4;
    display: flex;
    justify-content: center;
    align-items: center; }
  .container .form-wrapper {
    width: 100%;
    padding: 27px 16px;
    background-color: #f8f8f8; }
    .container .form-wrapper form {
      position: relative; }
      .container .form-wrapper form .swap-locations {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1; }
      .container .form-wrapper form .location-inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%; }
        .container .form-wrapper form .location-inputs__origin {
          overflow: hidden;
          padding: 12px 32px 0 32px;
          margin: 2px 0;
          background-color: #ffffff;
          width: 100%;
          height: 64px;
          position: relative; }
          .container .form-wrapper form .location-inputs__origin .origin-input-title {
            color: #2f4eb4;
            font-size: 14px;
            height: 15px;
            position: relative;
            font-weight: bold; }
          .container .form-wrapper form .location-inputs__origin .origin-input {
            margin-left: -3px;
            height: 30px;
            width: 100%;
            font-size: 15px;
            color: #5d686e;
            border: none;
            outline: none; }
          .container .form-wrapper form .location-inputs__origin .origin-icon {
            left: 10px;
            bottom: 0px;
            transform: translateY(-50%);
            position: absolute; }
        .container .form-wrapper form .location-inputs__destination {
          overflow: hidden;
          padding: 12px 32px;
          margin: 2px 0;
          background-color: #ffffff;
          position: relative;
          width: 100%;
          height: 64px; }
          .container .form-wrapper form .location-inputs__destination .destination-input-title {
            height: 15px;
            font-weight: bold;
            color: #2f4eb4;
            font-size: 14px;
            position: relative; }
          .container .form-wrapper form .location-inputs__destination .destination-input {
            margin-left: -3px;
            height: 30px;
            width: 100%;
            font-size: 15px;
            outline: none;
            color: #5d686e;
            border: none; }
          .container .form-wrapper form .location-inputs__destination .destination-icon {
            left: 10px;
            bottom: 0px;
            transform: translateY(-50%);
            position: absolute; }
=======
.sidebar-animation {
  -webkit-animation: animation 500ms linear both;
  animation: animation 500ms linear both; }

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22t%22%2Ce%3A%22b%22%2Cd%3A500%2CD%3A0%2Cf%3A%7Bx%3A-50%2Cy%3A0%7D%2Ct%3A%7Bx%3A0%2Cy%3A0%7D%2Cs%3A3%2Cb%3A4%7D%2C%7BT%3A%22c%22%2Ce%3A%22s%22%2Cd%3A500%2CD%3A0%2Cf%3A%7Bx%3A1%2Cy%3A1%7D%2Ct%3A%7Bx%3A1.2%2Cy%3A1.2%7D%2Cs%3A3%2Cb%3A4%7D%5D%7D */
@-webkit-keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); }
  3.2% {
    -webkit-transform: matrix3d(1.053, 0, 0, 0, 0, 1.053, 0, 0, 0, 0, 1, 0, -30.436, 0, 0, 1);
    transform: matrix3d(1.053, 0, 0, 0, 0, 1.053, 0, 0, 0, 0, 1, 0, -30.436, 0, 0, 1); }
  4.3% {
    -webkit-transform: matrix3d(1.061, 0, 0, 0, 0, 1.061, 0, 0, 0, 0, 1, 0, -24.286, 0, 0, 1);
    transform: matrix3d(1.061, 0, 0, 0, 0, 1.061, 0, 0, 0, 0, 1, 0, -24.286, 0, 0, 1); }
  6.41% {
    -webkit-transform: matrix3d(1.066, 0, 0, 0, 0, 1.066, 0, 0, 0, 0, 1, 0, -14.141, 0, 0, 1);
    transform: matrix3d(1.066, 0, 0, 0, 0, 1.066, 0, 0, 0, 0, 1, 0, -14.141, 0, 0, 1); }
  8.61% {
    -webkit-transform: matrix3d(1.062, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, -6.071, 0, 0, 1);
    transform: matrix3d(1.062, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, -6.071, 0, 0, 1); }
  12.71% {
    -webkit-transform: matrix3d(1.043, 0, 0, 0, 0, 1.043, 0, 0, 0, 0, 1, 0, 2.386, 0, 0, 1);
    transform: matrix3d(1.043, 0, 0, 0, 0, 1.043, 0, 0, 0, 0, 1, 0, 2.386, 0, 0, 1); }
  12.91% {
    -webkit-transform: matrix3d(1.041, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 2.614, 0, 0, 1);
    transform: matrix3d(1.041, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 2.614, 0, 0, 1); }
  17.22% {
    -webkit-transform: matrix3d(1.02, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 4.667, 0, 0, 1);
    transform: matrix3d(1.02, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 4.667, 0, 0, 1); }
  18.92% {
    -webkit-transform: matrix3d(1.014, 0, 0, 0, 0, 1.014, 0, 0, 0, 0, 1, 0, 4.457, 0, 0, 1);
    transform: matrix3d(1.014, 0, 0, 0, 0, 1.014, 0, 0, 0, 0, 1, 0, 4.457, 0, 0, 1); }
  25.23% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.11, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.11, 0, 0, 1); }
  28.33% {
    -webkit-transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 1.031, 0, 0, 1);
    transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 1.031, 0, 0, 1); }
  31.43% {
    -webkit-transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0.289, 0, 0, 1);
    transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0.289, 0, 0, 1); }
  39.44% {
    -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, -0.312, 0, 0, 1);
    transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, -0.312, 0, 0, 1); }
  56.46% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1); }
  61.66% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.021, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.021, 0, 0, 1); }
  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
@keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); }
  3.2% {
    -webkit-transform: matrix3d(1.053, 0, 0, 0, 0, 1.053, 0, 0, 0, 0, 1, 0, -30.436, 0, 0, 1);
    transform: matrix3d(1.053, 0, 0, 0, 0, 1.053, 0, 0, 0, 0, 1, 0, -30.436, 0, 0, 1); }
  4.3% {
    -webkit-transform: matrix3d(1.061, 0, 0, 0, 0, 1.061, 0, 0, 0, 0, 1, 0, -24.286, 0, 0, 1);
    transform: matrix3d(1.061, 0, 0, 0, 0, 1.061, 0, 0, 0, 0, 1, 0, -24.286, 0, 0, 1); }
  6.41% {
    -webkit-transform: matrix3d(1.066, 0, 0, 0, 0, 1.066, 0, 0, 0, 0, 1, 0, -14.141, 0, 0, 1);
    transform: matrix3d(1.066, 0, 0, 0, 0, 1.066, 0, 0, 0, 0, 1, 0, -14.141, 0, 0, 1); }
  8.61% {
    -webkit-transform: matrix3d(1.062, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, -6.071, 0, 0, 1);
    transform: matrix3d(1.062, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, -6.071, 0, 0, 1); }
  12.71% {
    -webkit-transform: matrix3d(1.043, 0, 0, 0, 0, 1.043, 0, 0, 0, 0, 1, 0, 2.386, 0, 0, 1);
    transform: matrix3d(1.043, 0, 0, 0, 0, 1.043, 0, 0, 0, 0, 1, 0, 2.386, 0, 0, 1); }
  12.91% {
    -webkit-transform: matrix3d(1.041, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 2.614, 0, 0, 1);
    transform: matrix3d(1.041, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 2.614, 0, 0, 1); }
  17.22% {
    -webkit-transform: matrix3d(1.02, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 4.667, 0, 0, 1);
    transform: matrix3d(1.02, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 4.667, 0, 0, 1); }
  18.92% {
    -webkit-transform: matrix3d(1.014, 0, 0, 0, 0, 1.014, 0, 0, 0, 0, 1, 0, 4.457, 0, 0, 1);
    transform: matrix3d(1.014, 0, 0, 0, 0, 1.014, 0, 0, 0, 0, 1, 0, 4.457, 0, 0, 1); }
  25.23% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.11, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.11, 0, 0, 1); }
  28.33% {
    -webkit-transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 1.031, 0, 0, 1);
    transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 1.031, 0, 0, 1); }
  31.43% {
    -webkit-transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0.289, 0, 0, 1);
    transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0.289, 0, 0, 1); }
  39.44% {
    -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, -0.312, 0, 0, 1);
    transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, -0.312, 0, 0, 1); }
  56.46% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1); }
  61.66% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.021, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.021, 0, 0, 1); }
  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
.drop_menu_animation_half_second {
  -webkit-animation: dropMenu 500ms linear both;
  animation: dropMenu 500ms linear both; }

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22t%22%2Ce%3A%22b%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A0%2Cy%3A-30%7D%2Ct%3A%7Bx%3A0%2Cy%3A0%7D%2Cs%3A3%2Cb%3A4%7D%2C%7BT%3A%22k%22%2Ce%3A%22s%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A0%2Cy%3A0%7D%2Ct%3A%7Bx%3A10%2Cy%3A-30%7D%2Cs%3A3%2Cb%3A4%7D%5D%7D */
@-webkit-keyframes dropMenu {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1);
    opacity: 0; }
  4% {
    -webkit-transform: matrix3d(0.96758, 0, 0, 0, 0, 0.96758, 0, 0, 0, 0, 1, 0, 0, -6.46592, 0, 1);
    transform: matrix3d(0.96758, 0, 0, 0, 0, 0.96758, 0, 0, 0, 0, 1, 0, 0, -6.46592, 0, 1); }
  8% {
    -webkit-transform: matrix3d(0.96176, 0, 0, 0, 0, 0.96176, 0, 0, 0, 0, 1, 0, 0, -2.91725, 0, 1);
    transform: matrix3d(0.96176, 0, 0, 0, 0, 0.96176, 0, 0, 0, 0, 1, 0, 0, -2.91725, 0, 1); }
  12% {
    -webkit-transform: matrix3d(0.96958, 0, 0, 0, 0, 0.96958, 0, 0, 0, 0, 1, 0, 0, -0.25224, 0, 1);
    transform: matrix3d(0.96958, 0, 0, 0, 0, 0.96958, 0, 0, 0, 0, 1, 0, 0, -0.25224, 0, 1);
    opacity: 1; }
  16% {
    -webkit-transform: matrix3d(0.98144, 0, 0, 0, 0, 0.98144, 0, 0, 0, 0, 1, 0, 0, 1.26207, 0, 1);
    transform: matrix3d(0.98144, 0, 0, 0, 0, 0.98144, 0, 0, 0, 0, 1, 0, 0, 1.26207, 0, 1); }
  20% {
    -webkit-transform: matrix3d(0.99188, 0, 0, 0, 0, 0.99188, 0, 0, 0, 0, 1, 0, 0, 1.76942, 0, 1);
    transform: matrix3d(0.99188, 0, 0, 0, 0, 0.99188, 0, 0, 0, 0, 1, 0, 0, 1.76942, 0, 1); }
  24% {
    -webkit-transform: matrix3d(0.99884, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 1.60106, 0, 1);
    transform: matrix3d(0.99884, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 1.60106, 0, 1); }
  28% {
    -webkit-transform: matrix3d(1.0023, 0, 0, 0, 0, 1.0023, 0, 0, 0, 0, 1, 0, 0, 1.10713, 0, 1);
    transform: matrix3d(1.0023, 0, 0, 0, 0, 1.0023, 0, 0, 0, 0, 1, 0, 0, 1.10713, 0, 1); }
  32% {
    -webkit-transform: matrix3d(1.00324, 0, 0, 0, 0, 1.00324, 0, 0, 0, 0, 1, 0, 0, 0.56005, 0, 1);
    transform: matrix3d(1.00324, 0, 0, 0, 0, 1.00324, 0, 0, 0, 0, 1, 0, 0, 0.56005, 0, 1); }
  36% {
    -webkit-transform: matrix3d(1.00278, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, 0.12148, 0, 1);
    transform: matrix3d(1.00278, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, 0.12148, 0, 1); }
  40% {
    -webkit-transform: matrix3d(1.00181, 0, 0, 0, 0, 1.00181, 0, 0, 0, 0, 1, 0, 0, -0.14782, 0, 1);
    transform: matrix3d(1.00181, 0, 0, 0, 0, 1.00181, 0, 0, 0, 0, 1, 0, 0, -0.14782, 0, 1); }
  44% {
    -webkit-transform: matrix3d(1.00088, 0, 0, 0, 0, 1.00088, 0, 0, 0, 0, 1, 0, 0, -0.25729, 0, 1);
    transform: matrix3d(1.00088, 0, 0, 0, 0, 1.00088, 0, 0, 0, 0, 1, 0, 0, -0.25729, 0, 1); }
  48% {
    -webkit-transform: matrix3d(1.00021, 0, 0, 0, 0, 1.00021, 0, 0, 0, 0, 1, 0, 0, -0.25225, 0, 1);
    transform: matrix3d(1.00021, 0, 0, 0, 0, 1.00021, 0, 0, 0, 0, 1, 0, 0, -0.25225, 0, 1); }
  52% {
    -webkit-transform: matrix3d(0.99986, 0, 0, 0, 0, 0.99986, 0, 0, 0, 0, 1, 0, 0, -0.18613, 0, 1);
    transform: matrix3d(0.99986, 0, 0, 0, 0, 0.99986, 0, 0, 0, 0, 1, 0, 0, -0.18613, 0, 1); }
  56% {
    -webkit-transform: matrix3d(0.99973, 0, 0, 0, 0, 0.99973, 0, 0, 0, 0, 1, 0, 0, -0.10336, 0, 1);
    transform: matrix3d(0.99973, 0, 0, 0, 0, 0.99973, 0, 0, 0, 0, 1, 0, 0, -0.10336, 0, 1); }
  60% {
    -webkit-transform: matrix3d(0.99975, 0, 0, 0, 0, 0.99975, 0, 0, 0, 0, 1, 0, 0, -0.03233, 0, 1);
    transform: matrix3d(0.99975, 0, 0, 0, 0, 0.99975, 0, 0, 0, 0, 1, 0, 0, -0.03233, 0, 1); }
  64% {
    -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, 0.01446, 0, 1);
    transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, 0.01446, 0, 1); }
  68% {
    -webkit-transform: matrix3d(0.99991, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0.03631, 0, 1);
    transform: matrix3d(0.99991, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0.03631, 0, 1); }
  72% {
    -webkit-transform: matrix3d(0.99997, 0, 0, 0, 0, 0.99997, 0, 0, 0, 0, 1, 0, 0, 0.03908, 0, 1);
    transform: matrix3d(0.99997, 0, 0, 0, 0, 0.99997, 0, 0, 0, 0, 1, 0, 0, 0.03908, 0, 1); }
  76% {
    -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0.03077, 0, 1);
    transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0.03077, 0, 1); }
  80% {
    -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, 0.01851, 0, 1);
    transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, 0.01851, 0, 1); }
  84% {
    -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, 0.00719, 0, 1);
    transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, 0.00719, 0, 1); }
  88% {
    -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -0.00078, 0, 1);
    transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -0.00078, 0, 1); }
  92% {
    -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, -0.00493, 0, 1);
    transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, -0.00493, 0, 1); }
  96% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00594, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00594, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; } }
@keyframes dropMenu {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1);
    opacity: 0; }
  4% {
    -webkit-transform: matrix3d(0.96758, 0, 0, 0, 0, 0.96758, 0, 0, 0, 0, 1, 0, 0, -6.46592, 0, 1);
    transform: matrix3d(0.96758, 0, 0, 0, 0, 0.96758, 0, 0, 0, 0, 1, 0, 0, -6.46592, 0, 1); }
  8% {
    -webkit-transform: matrix3d(0.96176, 0, 0, 0, 0, 0.96176, 0, 0, 0, 0, 1, 0, 0, -2.91725, 0, 1);
    transform: matrix3d(0.96176, 0, 0, 0, 0, 0.96176, 0, 0, 0, 0, 1, 0, 0, -2.91725, 0, 1); }
  12% {
    -webkit-transform: matrix3d(0.96958, 0, 0, 0, 0, 0.96958, 0, 0, 0, 0, 1, 0, 0, -0.25224, 0, 1);
    transform: matrix3d(0.96958, 0, 0, 0, 0, 0.96958, 0, 0, 0, 0, 1, 0, 0, -0.25224, 0, 1);
    opacity: 1; }
  16% {
    -webkit-transform: matrix3d(0.98144, 0, 0, 0, 0, 0.98144, 0, 0, 0, 0, 1, 0, 0, 1.26207, 0, 1);
    transform: matrix3d(0.98144, 0, 0, 0, 0, 0.98144, 0, 0, 0, 0, 1, 0, 0, 1.26207, 0, 1); }
  20% {
    -webkit-transform: matrix3d(0.99188, 0, 0, 0, 0, 0.99188, 0, 0, 0, 0, 1, 0, 0, 1.76942, 0, 1);
    transform: matrix3d(0.99188, 0, 0, 0, 0, 0.99188, 0, 0, 0, 0, 1, 0, 0, 1.76942, 0, 1); }
  24% {
    -webkit-transform: matrix3d(0.99884, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 1.60106, 0, 1);
    transform: matrix3d(0.99884, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 1.60106, 0, 1); }
  28% {
    -webkit-transform: matrix3d(1.0023, 0, 0, 0, 0, 1.0023, 0, 0, 0, 0, 1, 0, 0, 1.10713, 0, 1);
    transform: matrix3d(1.0023, 0, 0, 0, 0, 1.0023, 0, 0, 0, 0, 1, 0, 0, 1.10713, 0, 1); }
  32% {
    -webkit-transform: matrix3d(1.00324, 0, 0, 0, 0, 1.00324, 0, 0, 0, 0, 1, 0, 0, 0.56005, 0, 1);
    transform: matrix3d(1.00324, 0, 0, 0, 0, 1.00324, 0, 0, 0, 0, 1, 0, 0, 0.56005, 0, 1); }
  36% {
    -webkit-transform: matrix3d(1.00278, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, 0.12148, 0, 1);
    transform: matrix3d(1.00278, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, 0.12148, 0, 1); }
  40% {
    -webkit-transform: matrix3d(1.00181, 0, 0, 0, 0, 1.00181, 0, 0, 0, 0, 1, 0, 0, -0.14782, 0, 1);
    transform: matrix3d(1.00181, 0, 0, 0, 0, 1.00181, 0, 0, 0, 0, 1, 0, 0, -0.14782, 0, 1); }
  44% {
    -webkit-transform: matrix3d(1.00088, 0, 0, 0, 0, 1.00088, 0, 0, 0, 0, 1, 0, 0, -0.25729, 0, 1);
    transform: matrix3d(1.00088, 0, 0, 0, 0, 1.00088, 0, 0, 0, 0, 1, 0, 0, -0.25729, 0, 1); }
  48% {
    -webkit-transform: matrix3d(1.00021, 0, 0, 0, 0, 1.00021, 0, 0, 0, 0, 1, 0, 0, -0.25225, 0, 1);
    transform: matrix3d(1.00021, 0, 0, 0, 0, 1.00021, 0, 0, 0, 0, 1, 0, 0, -0.25225, 0, 1); }
  52% {
    -webkit-transform: matrix3d(0.99986, 0, 0, 0, 0, 0.99986, 0, 0, 0, 0, 1, 0, 0, -0.18613, 0, 1);
    transform: matrix3d(0.99986, 0, 0, 0, 0, 0.99986, 0, 0, 0, 0, 1, 0, 0, -0.18613, 0, 1); }
  56% {
    -webkit-transform: matrix3d(0.99973, 0, 0, 0, 0, 0.99973, 0, 0, 0, 0, 1, 0, 0, -0.10336, 0, 1);
    transform: matrix3d(0.99973, 0, 0, 0, 0, 0.99973, 0, 0, 0, 0, 1, 0, 0, -0.10336, 0, 1); }
  60% {
    -webkit-transform: matrix3d(0.99975, 0, 0, 0, 0, 0.99975, 0, 0, 0, 0, 1, 0, 0, -0.03233, 0, 1);
    transform: matrix3d(0.99975, 0, 0, 0, 0, 0.99975, 0, 0, 0, 0, 1, 0, 0, -0.03233, 0, 1); }
  64% {
    -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, 0.01446, 0, 1);
    transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, 0.01446, 0, 1); }
  68% {
    -webkit-transform: matrix3d(0.99991, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0.03631, 0, 1);
    transform: matrix3d(0.99991, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0.03631, 0, 1); }
  72% {
    -webkit-transform: matrix3d(0.99997, 0, 0, 0, 0, 0.99997, 0, 0, 0, 0, 1, 0, 0, 0.03908, 0, 1);
    transform: matrix3d(0.99997, 0, 0, 0, 0, 0.99997, 0, 0, 0, 0, 1, 0, 0, 0.03908, 0, 1); }
  76% {
    -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0.03077, 0, 1);
    transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0.03077, 0, 1); }
  80% {
    -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, 0.01851, 0, 1);
    transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, 0.01851, 0, 1); }
  84% {
    -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, 0.00719, 0, 1);
    transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, 0.00719, 0, 1); }
  88% {
    -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -0.00078, 0, 1);
    transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -0.00078, 0, 1); }
  92% {
    -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, -0.00493, 0, 1);
    transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, -0.00493, 0, 1); }
  96% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00594, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00594, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; } }
.drop_menu_animation_up {
  -webkit-animation: dropMenuUp 1000ms linear both;
  animation: dropMenuUp 1000ms linear both; }

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-VariableFont_wght.ttf"); }
* {
  font-family: "Comfortaa", cursive !important;
  box-sizing: border-box; }

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1199px) {
    header {
      padding: 0 2rem; } }
  @media (max-width: 991px) {
    header {
      padding: 0 1rem; } }
  header .navbar {
    position: relative;
    width: 1199px;
    height: 8rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #eaebf1; }
    @media (max-width: 991px) {
      header .navbar {
        height: 4rem; } }
    header .navbar .navbar-brand {
      position: relative;
      width: 10rem;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      @media (max-width: 991px) {
        header .navbar .navbar-brand {
          padding-left: 1.5em; } }
      header .navbar .navbar-brand h1 {
        font-weight: 900;
        font-size: 2rem; }
      header .navbar .navbar-brand .checkbtn {
        position: absolute;
        left: 0px;
        color: #ffffff;
        cursor: pointer;
        display: none; }
        @media (max-width: 991px) {
          header .navbar .navbar-brand .checkbtn {
            display: block;
            padding-top: 2px; } }
        header .navbar .navbar-brand .checkbtn i {
          position: relative;
          right: 20px; }
      header .navbar .navbar-brand #check {
        display: none; }
        @media (max-width: 991px) {
          header .navbar .navbar-brand #check:checked ~ .sidebar-links {
            display: block; } }
      header .navbar .navbar-brand .sidebar-links {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.5); }
        header .navbar .navbar-brand .sidebar-links ul {
          width: 70%;
          height: 100%;
          background-color: #fff;
          opacity: 1;
          padding: 1.5rem; }
          header .navbar .navbar-brand .sidebar-links ul li {
            margin: 0 .5rem;
            margin-bottom: 2rem; }
            header .navbar .navbar-brand .sidebar-links ul li:first-child {
              margin-bottom: 3rem; }
            header .navbar .navbar-brand .sidebar-links ul li input {
              display: none; }
              header .navbar .navbar-brand .sidebar-links ul li input:checked + label {
                color: black; }
            header .navbar .navbar-brand .sidebar-links ul li label {
              font-weight: 900;
              display: block;
              color: #68707d; }
    header .navbar nav {
      flex: 1 1;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .navbar nav .navbar-links {
        flex: 1 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0rem 2rem; }
        @media (max-width: 991px) {
          header .navbar nav .navbar-links {
            display: none; } }
        header .navbar nav .navbar-links li {
          margin: 0 .5rem;
          display: flex;
          justify-content: center;
          align-items: center; }
          header .navbar nav .navbar-links li input {
            display: none; }
            header .navbar nav .navbar-links li input:checked + label {
              color: black; }
          header .navbar nav .navbar-links li label {
            padding: 1rem .5rem;
            font-weight: 900;
            display: block;
            cursor: pointer;
            font-size: .9rem;
            color: #b6bcc8; }
      header .navbar nav .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center; }
        @media (max-width: 991px) {
          header .navbar nav .navbar-nav {
            margin: 0 0 0 auto; } }
        header .navbar nav .navbar-nav .mini-basket {
          cursor: pointer;
          margin-right: 3rem; }
          @media (max-width: 991px) {
            header .navbar nav .navbar-nav .mini-basket {
              margin-right: 1rem; } }
        header .navbar nav .navbar-nav .active {
          display: block !important; }
        header .navbar nav .navbar-nav .basket {
          z-index: 999;
          display: none;
          padding: 1rem .5rem;
          position: absolute;
          top: 7rem;
          right: -4rem;
          width: 22rem;
          max-height: 30rem;
          background-color: white;
          border-radius: 10px;
          box-shadow: 0px 19px 45px -13px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 0px 19px 45px -13px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0px 19px 45px -13px rgba(0, 0, 0, 0.5); }
          @media (max-width: 1199px) {
            header .navbar nav .navbar-nav .basket {
              right: 0rem; } }
          @media (max-width: 575px) {
            header .navbar nav .navbar-nav .basket {
              top: 4.8rem;
              left: 0;
              width: 100%; } }
          header .navbar nav .navbar-nav .basket .cart-header {
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: flex-start;
            padding: 0 1rem;
            border-bottom: 1px solid #eaebf1; }
            header .navbar nav .navbar-nav .basket .cart-header span {
              font-weight: 900;
              font-size: 1.1rem; }
          header .navbar nav .navbar-nav .basket .cart-body .product {
            display: flex;
            padding: 1rem; }
            header .navbar nav .navbar-nav .basket .cart-body .product .product-image {
              width: 3rem;
              height: 3rem;
              display: flex;
              justify-content: center;
              align-items: center; }
              header .navbar nav .navbar-nav .basket .cart-body .product .product-image img {
                border-radius: 5px;
                width: 100%; }
            header .navbar nav .navbar-nav .basket .cart-body .product .product-info {
              flex: 1 1;
              padding: 0 1rem;
              display: flex;
              justify-content: space-around;
              flex-direction: column; }
              header .navbar nav .navbar-nav .basket .cart-body .product .product-info .product-price .mercant {
                color: #b6bcc8;
                margin-right: 1rem; }
              header .navbar nav .navbar-nav .basket .cart-body .product .product-info .product-price .total-price {
                font-weight: 900; }
            header .navbar nav .navbar-nav .basket .cart-body .product .product-delete {
              width: 3rem;
              height: 3rem;
              display: flex;
              justify-content: flex-end;
              align-items: center; }
          header .navbar nav .navbar-nav .basket .cart-footer {
            height: 4rem;
            width: 100%;
            padding: 0 1rem;
            display: flex;
            justify-content: center;
            align-items: center; }
            header .navbar nav .navbar-nav .basket .cart-footer button {
              cursor: pointer;
              position: relative;
              width: 100%;
              height: 3rem;
              border: none;
              outline: none;
              border-radius: 5px;
              background-color: #ff7d1a;
              color: white;
              font-size: 1rem; }
        header .navbar nav .navbar-nav .profile-button {
          cursor: pointer; }
          header .navbar nav .navbar-nav .profile-button img {
            width: 60px;
            height: 60px; }
            @media (max-width: 991px) {
              header .navbar nav .navbar-nav .profile-button img {
                height: 30px;
                width: 30px; } }

main {
  height: calc(100vh - 114px);
  width: 100%; }
  main .container {
    display: flex;
    margin: 0 auto;
    max-width: 1199px;
    padding: 5rem 4rem; }
    @media (max-width: 991px) {
      main .container {
        flex-direction: column;
        padding: 0; } }
    main .container .prodcut-slider-wrapper {
      flex: 1 1; }
      @media (max-width: 991px) {
        main .container .prodcut-slider-wrapper {
          margin-bottom: 2.5rem; } }
      main .container .prodcut-slider-wrapper .slider {
        margin: 0 auto;
        background-color: #ffffff;
        width: 450px;
        height: 500px; }
        @media (max-width: 991px) {
          main .container .prodcut-slider-wrapper .slider {
            position: relative;
            width: 100%;
            height: 400px; } }
        main .container .prodcut-slider-wrapper .slider .icon-chevron_up {
          display: none !important;
          background-color: white;
          border-radius: 50%;
          border: none;
          width: 3rem;
          height: 3rem; }
          @media (max-width: 991px) {
            main .container .prodcut-slider-wrapper .slider .icon-chevron_up {
              z-index: 99;
              display: block !important;
              position: absolute;
              left: 1rem;
              top: 50%;
              transform: translateY(-50%); }
              main .container .prodcut-slider-wrapper .slider .icon-chevron_up img {
                margin: 0;
                width: 1rem;
                height: 1rem; } }
        main .container .prodcut-slider-wrapper .slider .icon-chevron_down {
          display: none !important;
          background-color: white;
          border-radius: 50%;
          border: none;
          width: 3rem;
          height: 3rem; }
          @media (max-width: 991px) {
            main .container .prodcut-slider-wrapper .slider .icon-chevron_down {
              z-index: 99;
              display: block !important;
              position: absolute;
              right: 1rem;
              top: 50%;
              transform: translateY(-50%); }
              main .container .prodcut-slider-wrapper .slider .icon-chevron_down img {
                margin: 0;
                width: 1rem;
                height: 1rem; } }
        main .container .prodcut-slider-wrapper .slider img {
          cursor: w-resize;
          margin-right: 2rem;
          width: 100%;
          height: 100%;
          border-radius: 1rem; }
          @media (max-width: 991px) {
            main .container .prodcut-slider-wrapper .slider img {
              border-radius: 0;
              height: 400px;
              object-fit: cover; } }
      main .container .prodcut-slider-wrapper .slider-thumbnail {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        margin-top: -1rem; }
        @media (max-width: 991px) {
          main .container .prodcut-slider-wrapper .slider-thumbnail {
            display: none; } }
        main .container .prodcut-slider-wrapper .slider-thumbnail ul {
          user-select: none;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          main .container .prodcut-slider-wrapper .slider-thumbnail ul li input {
            display: none; }
            main .container .prodcut-slider-wrapper .slider-thumbnail ul li input:checked + label {
              border: 3px solid #ff7d1a; }
              main .container .prodcut-slider-wrapper .slider-thumbnail ul li input:checked + label img {
                opacity: .3; }
          main .container .prodcut-slider-wrapper .slider-thumbnail ul li label {
            position: relative;
            border-radius: 1rem;
            display: block;
            width: 90px;
            height: 90px;
            overflow: hidden; }
            main .container .prodcut-slider-wrapper .slider-thumbnail ul li label:hover img {
              opacity: .5; }
            main .container .prodcut-slider-wrapper .slider-thumbnail ul li label img {
              cursor: pointer;
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              object-fit: cover; }
    main .container .product-description {
      padding-bottom: 5rem;
      flex: 1 1;
      margin: auto; }
      main .container .product-description .product-information-wrapper {
        padding: 0 4rem; }
        @media (max-width: 991px) {
          main .container .product-description .product-information-wrapper {
            padding: 0 2rem; } }
        main .container .product-description .product-information-wrapper .brand-name {
          display: block;
          font-size: .9rem;
          color: #ff7d1a;
          font-weight: 900;
          letter-spacing: 3px;
          margin-bottom: 1.5rem; }
        main .container .product-description .product-information-wrapper .product-name {
          font-size: 2rem;
          font-weight: 900;
          margin-bottom: 1.5rem; }
        main .container .product-description .product-information-wrapper .description {
          font-size: .9rem;
          font-weight: 900;
          color: #b6bcc8;
          letter-spacing: 2px;
          line-height: 1.5rem;
          margin-bottom: 1.5rem; }
      main .container .product-description .product-price-wrapper {
        margin-bottom: 2rem;
        padding: 0 4rem; }
        @media (max-width: 991px) {
          main .container .product-description .product-price-wrapper {
            padding: 1rem 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0; } }
        main .container .product-description .product-price-wrapper .price-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem; }
          main .container .product-description .product-price-wrapper .price-wrapper .price {
            display: block;
            padding-top: 7px;
            font-size: 1.8rem;
            font-weight: 900;
            margin-right: 1rem; }
          main .container .product-description .product-price-wrapper .price-wrapper .discount {
            font-weight: 900;
            font-size: .9rem;
            color: #ff7d1a;
            margin: 0 auto 0 0;
            border-radius: 5px;
            background-color: #ffede0;
            padding: 5px 10px; }
            @media (max-width: 991px) {
              main .container .product-description .product-price-wrapper .price-wrapper .discount {
                padding-top: 8px;
                font-size: 1.2rem; } }
        main .container .product-description .product-price-wrapper .old-product-price {
          display: block;
          color: #b6bcc8;
          margin-bottom: 1rem; }
          @media (max-width: 991px) {
            main .container .product-description .product-price-wrapper .old-product-price {
              font-size: 1.5rem; } }
      main .container .product-description .add-to-cart {
        display: flex;
        justify-content: center;
        align-items: center; }
        @media (max-width: 991px) {
          main .container .product-description .add-to-cart {
            padding: 2rem; } }
        @media (max-width: 575px) {
          main .container .product-description .add-to-cart {
            flex-direction: column;
            padding: 2rem; } }
        main .container .product-description .add-to-cart .product-quantity {
          display: flex;
          justify-content: center;
          align-items: center;
          user-select: none; }
          @media (max-width: 991px) {
            main .container .product-description .add-to-cart .product-quantity {
              width: 100%; } }
          @media (max-width: 575px) {
            main .container .product-description .add-to-cart .product-quantity {
              margin-bottom: 1rem;
              width: 100%; } }
          main .container .product-description .add-to-cart .product-quantity .shop-minus {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            background-color: #eaebf1;
            border: none;
            outline: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px; }
            main .container .product-description .add-to-cart .product-quantity .shop-minus:active {
              position: relative;
              top: 1px;
              box-shadow: -58px 53px 18px -69px rgba(0, 0, 0, 0.62) inset;
              -webkit-box-shadow: -58px 53px 18px -69px rgba(0, 0, 0, 0.62) inset;
              -moz-box-shadow: -58px 53px 18px -69px rgba(0, 0, 0, 0.62) inset; }
          main .container .product-description .add-to-cart .product-quantity .quantity {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            background-color: #eaebf1; }
            @media (max-width: 991px) {
              main .container .product-description .add-to-cart .product-quantity .quantity {
                width: 100%; } }
            @media (max-width: 575px) {
              main .container .product-description .add-to-cart .product-quantity .quantity {
                width: 100%; } }
          main .container .product-description .add-to-cart .product-quantity .shop-plus {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            background-color: #eaebf1;
            border: none;
            outline: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px; }
            main .container .product-description .add-to-cart .product-quantity .shop-plus:active {
              position: relative;
              top: 1px;
              box-shadow: 58px -53px 18px -67px rgba(0, 0, 0, 0.62) inset;
              -webkit-box-shadow: 58px -53px 18px -67px rgba(0, 0, 0, 0.62) inset;
              -moz-box-shadow: 58px -53px 18px -67px rgba(0, 0, 0, 0.62) inset; }
        main .container .product-description .add-to-cart .add-to-cart-btn {
          user-select: none;
          cursor: pointer;
          position: relative;
          width: 15rem;
          height: 3rem;
          margin-left: 1rem;
          border: none;
          outline: none;
          border-radius: 5px;
          background-color: #ff7d1a;
          color: white;
          font-size: 1rem;
          box-shadow: 0px 19px 45px -13px rgba(255, 125, 26, 0.5);
          -webkit-box-shadow: 0px 19px 45px -13px rgba(255, 125, 26, 0.5);
          -moz-box-shadow: 0px 19px 45px -13px rgba(255, 125, 26, 0.5); }
          @media (max-width: 1199px) {
            main .container .product-description .add-to-cart .add-to-cart-btn {
              width: 10rem; } }
          @media (max-width: 991px) {
            main .container .product-description .add-to-cart .add-to-cart-btn {
              width: 100%; } }
          @media (max-width: 575px) {
            main .container .product-description .add-to-cart .add-to-cart-btn {
              width: 100%;
              margin: 0; } }
          main .container .product-description .add-to-cart .add-to-cart-btn:active {
            top: 1px; }
          main .container .product-description .add-to-cart .add-to-cart-btn img {
            filter: brightness(1000%);
            width: 15px; }
>>>>>>> 056f998c31aa95346d9589b1a6e4d6ac75a3fb34

/*# sourceMappingURL=style.css.map */
